
.imgStyle {
  @apply bg-267D9E rounded-l-md;
  position: relative;
 
}



.cartoonImg{
    
    
    
    width: 50%;
    height: 50%;
   
    background-position: 55% 50px;
    z-index: 1;
}

/* css keyframes */
@keyframes cloud_one{
    0%{
        transform: translateX(290%);
    }100%{
        transform: translateX(-250%);
    }
}

@keyframes cloud_two{
    0%{
        transform: translateX(160%);
    }100%{
        transform: translateX(-250%);
    }
}